@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@font-face {
  font-family: "odinFont";
  src: url("./Norse-Bold.otf");
}
* {
  box-sizing: border-box;
  font-family: inherit;
  margin: 0;
  padding: 0;
  border: 1px solid gray;
}
:root {
  font-size: 62.5%;
}
body {
  height: 100vh;
  display: flex;
  align-items: stretch;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar {
  background-image: url("https://i.picsum.photos/id/27/3264/1836.jpg?hmac=p3BVIgKKQpHhfGRRCbsi2MCAzw8mWBCayBsKxxtWO8g");
  background-position: right;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
.logo-container {
  margin-top: 25vh;
  height: 10vw;
  background-color: rgb(0, 0, 0, 0.5);
  font-family: "odinFont";
  font-size: 7vw;
  color: white;
}
.logo-container > img {
  height: 9vw;
}
.pic-credits {
  margin-top: auto;
  text-align: center;
}
.main {
  flex: 2 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  font-family: "Roboto", sans-serif;
}
.greeting {
  margin: 0 10vw 5vw 5vw;
  font-size: 2rem;
}
.form {
  height: 25vw;
}
